.main{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1em;
    margin-top: 5%;
    border-bottom: 2px solid gainsboro;
     box-shadow: 2px 2px 3px grey;
}
.main p{
    font-size: 2rem;
}
.toggle-text-btn{
    font-size: 1rem;
    background-color:lightsalmon;
    border:none;
    border-radius: 1rem;
    box-shadow: 2px 2px 3px grey;
    padding: 1rem;
}
.contact-form{
    margin-top: 10%;
    
}
.toggle-text-btn p{
    font-size:1rem ;
}
.Btn{
    background-color:burlywood;
    border: none;
    width: 5rem;
    padding: 0.25rem;
    border-radius: 2px;
    margin-left:40%;
}