.form-style{
    border: 2px Solid gainsboro;
    border-radius: 1rem;
    margin: auto;
    margin-top: 7%;
    width: 25vw;
    height: 60vh;
    padding: 2%;
    padding-top: 2%;
    position: relative;
    box-shadow: 2px 2px 3px gainsboro;
   
}
.form-div{
    margin-top: 1.5rem;
}
.input{
   padding: 2%;
}
.label{
color: black;
}
h3{
  margin-left: 30%;
}
.signin-btn{
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}  
    

.login-btn{
    width: 100%;
  
}
.ctn{


  margin-top: 2rem;
  margin-left: 38%;
  

}
.toggle-btn{
    width: 25vw;
    border: 2px Solid grey;
    
}

.logout-btn{
  position: absolute;
}
.forget-btn{
  border: none;
  background-color: transparent;
  margin-top: 1rem;
  margin-left: 30%;
}
.forget-btn-toggle{
   border: none;
  background-color: transparent;
  margin-top: 1rem;
  margin-left:10%;
}